<div class="container text-center">
  <h1 class="jumbotron-heading">Huey Shop</h1>
  <p class="lead text">Enjoy your life...</p>
  </div>
  <div class="embed-responsive embed-responsive-16by9 mb-4">
    <video class="embed-responsive-item" autoplay muted loop src="https://assets.adidas.com/videos/t_videomain/c0f61f71859a4d25adcfab1b00f7bf9a_d98c/Giay_ZX_4000_4D_Mau_djen_EF9625_video.mp4" allowfullscreen>
    </video>
  </div>


<div class="row">
<div class="col-3">
  <product-filter [selectedCategory]="category"></product-filter>
</div>
<div class="col">
  <div class="row" *ngIf="cart$ | async as cart">
    <ng-container *ngFor="let product of filteredProducts; let i = index">
      <div class="col-6">
        <product-card [product]="product" [shopping-cart]="cart"></product-card>
      </div>
      <div *ngIf="(i+1)%2 === 0" class="w-100"></div>
    </ng-container>
  </div>
</div>
</div>
<a class="gotobtn" href="#">Top</a>


