<!-- <div class="align-center-flex">
  <div class="card row col-md-8">
    <div class="card-body">

      <h1 class="card-text">Login <i class="fa fa-sign-in" aria-hidden="true"></i></h1>
      <hr>
      <div class="align-center-flex">
        <div class="form-group">
          <button class="btn btn-info btn-login" (click)="loginGoogle()">Login with Google</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<body>
	<div class="container">
	   <div class="row">
		<div class="col-md-5 mx-auto">
	   
		   <div class="myform form ">
			   <div class="logo mb-3">
				  <div class="col-md-12 text-center">
					<h1>Login</h1>
				  </div>
			  </div>
				  <form action="" method="post" name="login">
						  <div class="form-group">
							 <input type="email" name="email"  class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" #email required>
						  </div>
						  <div class="form-group">
							 <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Password" #password required>
						  </div>
						  <div class="col-md-12 text-center ">
							 <button class=" btn btn-block mybtn btn-primary tx-tfm" value="signin" id="confirm" (click)="authService.signin(email.value, password.value)">Login</button>
						  </div>
						  <div class="col-md-12 ">
							 <div class="login-or">
								<hr class="hr-or">
								<span class="span-or">OR</span>
							 </div>
						  </div>
						  <div class="col-md-12 mb-3">
							 <p class="text-center">
								<a href="#" routerLink="/login" id="logingg" class="google btn mybtn" (click)="authService.login()"><i class="fa fa-google" aria-hidden="true"></i>
								  Log in with Google
								</a>
							 </p>
						  </div>
							  <div class="col-md-12 mb-3">
							 <p class="text-center">
								<a href="#" routerLink="/phone-login" id="loginphone" class="google btn mybtn" id="phone"><i class="fa fa-phone" aria-hidden="true"></i>
								  Log in with Phone
								</a>
							 </p>
							 <div class="form-group">
							<p class="text-center"><a routerLink="/forgotpassword" href="#" id="forgotpsw">Forgot Password?</a></p>
						  </div>
						  </div>
						  
						  <div class="form-group">
							 <p class="text-center">Don't have account? <a routerLink="/register" href="#" id="signup">Sign up</a></p>
						  </div>
					   </form>
		   </div>
		</div>
	   </div>
	</div>
	</body> 
	