<h1>Shopping Cart</h1>
<div class="card" *ngIf="(cart$ | async) as cart" style="width: 80;">
  <div class="card-body">
        <p>
          You have {{ cart.totalItemCount }} items in your shopping cart
          <button 
          *ngIf="cart.items.length"
          (click)="clearAll()"
          class="btn btn-light btn-sm float-right" >Clear Shopping Cart</button>
        </p>
      </div>
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Product</th>
              <th class="text-center" style="width:230px">Quantity</th>
              <th class="text-right" style="width:200px">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cart.items">
              <td>
                <div [style.backgroundImage]="'url(' + item.imageUrl + ')'" class="thumbnail">
                </div>
              </td>
              <td>
                {{item.title}}
              </td>
              <td>
                <product-quantity [product]="item" [shopping-cart]="cart" [msg]="null">
                </product-quantity>
              </td>
              <td class="text-right">
                {{item.totalPrice | currency:'USD':true}}
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="table-secondary">
              <th>Total Price: </th>
              <th></th>
              <th></th>
              <th class="text-right">{{cart.totalPrice | currency:'USD':true}}</th>
            </tr>
            <tr>
            </tr>
          </tfoot>
        </table>
        <div class="form-group">
          <a class="btn btn-success float-right" [routerLink]="['/checkout']">Check Out</a>
        </div>
      </div>
    

  






