html,
body{
    min-height: 100%;
}
#sticky-footer {
  flex-shrink: none;
}

.footer {
   
    min-height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    
  }

  


  video {
    width: 100%;
    height: auto;
}
