<body>
  <div class="container">
    <div class="row">
     <div class="col-md-5 mx-auto">
        <div class="myform form ">
            <div class="logo mb-3">
               <div class="col-md-12 text-center">
              <h3>Reset Password</h3>
              <form action="" method="post" name="forgetpassword">
             <p class="text-center">Please enter your email address to request a password reset.</p>
  
        <div class="form-group">
          <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Adress" #passwordResetEmail required>
        </div>
  
        <div class="col-md-12 mb-3">
          <button class=" btn btn-block mybtn btn-primary tx-tfm" id="resetpw" (click)="authService.ForgotPassword(passwordResetEmail.value)">Reset Pasword</button>
        </div>
  
      <div class="form-group">
        <p class="text-center">Go back to <a  href="#" routerLink="/login" id="login">Log In</a></p>
      </div>
    </form>
    </div>
  </div>
  </div>
    </div>
    </div>
    </div>
  </body>
  